<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper-->
<!--  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<mapper namespace="com.xpalive.cmsblog.mapper.CmsBlogMapper">
  <resultMap id="vehicleResult" type="Vehicle">
    <id property="id" column="id" />
    <result property="vin" column="vin"/>
    <result property="year" column="year"/>
    <result property="make" column="make"/>
    <result property="model" column="model"/>
    <result property="color" column="color"/>
    <discriminator javaType="int" column="vehicle_type">
      <case value="1" resultType="carResult">
        <result property="doorCount" column="door_count" />
      </case>
      <case value="2" resultType="truckResult">
        <result property="boxSize" column="box_size" />
        <result property="extendedCab" column="extended_cab" />
      </case>
      <case value="3" resultType="vanResult">
        <result property="powerSlidingDoor" column="power_sliding_door" />
      </case>
      <case value="4" resultType="suvResult">
        <result property="allWheelDrive" column="all_wheel_drive" />
      </case>
    </discriminator>
  </resultMap>
  <select id="selectById" resultType="CmsBlog">
    select *
    from cms_blog
    where id = #{id}
  </select>
</mapper>
